@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background: #124395;
}
::-webkit-scrollbar-thumb{
    background: #f3f3f3;
}
html,body{
    overflow-x: hidden;
}
.image{
    width: 100%;
}
@-webkit-keyframes dropdownMenu {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes dropdownMenu {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
img{
    border-style: none;
    vertical-align: middle;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
    width: auto;
}
.sliderText{
    transform: translate(-50%, -50%);
}
@keyframes animation321 {
    0% {
        background: #124395;
        transform: translateX(var(--displace));
    }

    100% {
        background: #E10632;
        transform: translateX(00px);
    }
}
.ball{
    --size: 20px;
    --timing: 0.7s;
    --displace: 70px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    background: #000;
    margin-right: var(--displace);
    animation: animation321 var(--timing) infinite alternate cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes placeHolderShimmer {
    0%{ background-position: -468px 0; }
    100%{ background-position: 468px 0; }
  }
  
.ball2{
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: placeHolderShimmer;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}
.transitions{
    transition: all 200ms linear;
}
.menutransitions{
    transition: all 0.6s ease;
}
.border-botttom{
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.08);
}
.none {
    top: -80px;
    transition: .4s linear;
}
.transitionsa{
    transition: background 0.4s linear, color 0.6s linear;
}
.header .menu .active{
    box-shadow: 0px 6px 12px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}
.header .menu .active::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -7px;
    left: 0;
    background-color: #E10632;
    opacity: 1;
    transition: all 0.4s linear;
}

.menxaniki .active,
.insaat .active{
    background: #f3f3f3;
    color:#124395;
}

.activeRounded{
    background: #f3f3f3;
    color:#124395;
}
.colorchagne:hover .color1{
    background:#f3f3f3;
}
.colorchagne:hover .color1 h6{
    color: #000;
}
.colorchagne:hover .color2{
    background:#E10632;
}
.colorchagne:hover .color2 h6{
    color:#fff;
}
@media screen and (min-width:1100px) {
    .swiper-slide-active > .scale1{
        transform: scale(1) !important;
    }
    .border25{
        border: 25px solid #F3F3F3;
    }
}
.shadow1{
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);
}
.webkit-box{
    display: -webkit-box;
}
.after::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 67, 149, 0.7);
    mix-blend-mode: multiply;
}


.equi .swiper-button-prev,
.equi .swiper-button-next{
    top: 40%;
    color: #000;
    width: 0%;
}

.equi .swiper-button-prev::after,
.equi .swiper-button-next::after{
    font-size: 30px;
    font-weight: bold;
}
.imageP{
    overflow: hidden;
    position: relative;
}
.imageP::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(83, 83, 83, 0.7);
    mix-blend-mode: multiply;
    transition: all 0.5s ease;
}
.imageP:hover::after{
    top: -100%;
}
.w-max{
    width: max-content;
}
.imageB:hover img:nth-child(1){
    display: none;
}
.imageB:hover img:nth-child(2){
    display: block;
}
.first_alt_menu{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.6s;
}
.ulHover:hover .first_alt_menu{
    opacity: 1;
    visibility: visible;
}
.second_li{
    opacity: 0;
}
.secondUl:hover .second_li{
    animation: dropdownMenu 0.5s forwards;
    display: block;
}
.allmenu .hvr:hover{
    transition: all 200ms linear;
    box-shadow: 0px 6px 12px 4px rgba(0, 0, 0, 0.25);
}
.mobile-menu-overlay{
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(25, 25, 25, 0.75);
}
.mobile-menu-overlay.active {
    visibility: visible;
    opacity: 1;
}
.mobile-header{
    visibility: hidden;
    left: -100%;
}
.mobile-header.active {
    visibility: visible;
    left: 0%;
}
.container1{
    visibility: hidden;
}
.imgContainer::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 40;
    height: 100%;
    background: #f3f3f3;
}